selected-day header.selected-day {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: solid 2px gray;
    z-index: 9999;
}

header.selected-day .title {
    float: left;
}

selected-day header .month {
    margin: 0.1em 0.5em;
    font-size: 2em;
    color: #49444e;
}

selected-day  header .year {
    font-size: 1.8em;
    color: #8b8493;
}

selected-day header .day {
    margin: 0.3em 0.6em 0.5em;
    font-size: 1.6em;
    color: #8b8493;
}

selected-day header .menu {
    float: left;
    margin: 1em;
    clear: both;
}

@media (min-width: 640px) {
    selected-day header .menu {
        float: right;
        margin: 1em 2em;
        clear: none;
    }

    header.selected-day .title {
        clear: both;
    }
}



selected-day header .menu .back,
selected-day header .menu .add-event {
    display: inline-block;
    padding: 0.5em 1em;
    border: solid 2px black;
    cursor: pointer;
    transition: 0.2s;
}

selected-day header .menu .add-event {
    margin-top: 0.2em;
}

selected-day header .menu div:hover {
    background-color: black;
    color: white;
}

selected-day section {
    width: 100%;
    margin: 12em auto 1em;
}

selected-day section .times {
    position: relative;
    border-bottom: solid 1px #8b8493;
    width: 96%;
    margin: 0 auto;
    box-sizing: border-box;
}

selected-day section .times .hour,
selected-day section .times .events {
    display: inline-block;
    min-height: 4em;
    padding: 0.5em 0;
    box-sizing: border-box;
    vertical-align: top;
}

selected-day section .times .hour {
    float: left;
    width: 15%;
    text-align: right;
}

selected-day section .times .events {
    float: right;
    width: 84%;
    border-left: solid 1px #8b8493;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
}


selected-day section .times .events.activeTime {
    background-color: #fdfab6;
}

section .times .events .event {
    position: relative;
    display: inline-block;
    margin: 0 0 1em 1em ;
    width: 40%;
    vertical-align: top;
}

section .times .events .event .event-data:hover {
    text-decoration: underline;
    cursor: pointer;
}

section .times .events .event .event-title {
    font-weight: bold;
    margin: 0.2em auto;
}

section .times .events .event .event-remove {
    position: absolute;
    top: 0;
    right: -5px;
    cursor: pointer;
}

section .times .events .event .event-remove:hover {
    font-weight: bold;
}

@media (min-width: 640px) {
    selected-day section {
        width: 100%;
        margin: 6em auto 1em;
    }

    selected-day section .times .hour {
        width: 7%;
    }

    selected-day section .times .events {
        width: 92%;
    }

    section .times .events .event {
        width: auto;
        max-width: 25%;
        min-width: 10%;
    }
}