<div class="calendar" ng-if="!$ctrl.selected">
    <header>
        <div class="title">
            <span class="month">{{ $ctrl.date.getMonth() | monthFilter }}</span>
            <span class="year">{{ $ctrl.date.getFullYear() }}</span>
        </div>
        <div>
            <div class="day-name" ng-repeat="name in $ctrl.dayNames">{{name}}</div>
        </div>
    </header>

    <section>
        <div class="day"
             ng-class="{'not-this-month': day.month !== $ctrl.date.getMonth(), 'weekend': day.day > 5}"
             ng-click="$ctrl.select({index: $index})"
             ng-repeat="day in $ctrl.data">
            <div class="date">
                <span ng-class="{'today': day.today}">{{day.date}}</span>
            </div>
            <div class="events" ng-if="day.events.length">
                {{ $ctrl.getEventText(day) }}
            </div>
        </div>
    </section>
</div>