<header class="group selected-day">
    <div class="title">
        <span class="month">{{ $ctrl.data.month | monthFilter }} {{ $ctrl.data.date }},</span>
        <span class="year">{{ $ctrl.data.year }}</span>

        <div class="day">{{ $ctrl.data.day | dayFilter}}</div>
    </div>

    <div class="menu">
        <div class="back" ng-click="$ctrl.unselect()">Назад</div>
        <div class="add-event" ng-click="$ctrl.addEvent()">Добавить событие</div>
    </div>
</header>

<section>
    <div class="times group" ng-repeat="time in $ctrl.times">
        <div class="hour">{{ time.hours }}</div>
        <div class="events" ng-class="{'activeTime': time.events.length}">
            <div ng-repeat="event in time.events" class="event">
                <div ng-click="$ctrl.editEvent({index: $index, time: time, day: $ctrl.data})" class="event-data">
                    <div class="event-time">{{ event.time }}</div>
                    <div class="event-title">{{ event.title }}</div>
                    <div class="event-content">{{ event.content }}</div>
                </div>
                <div class="event-remove" ng-click="$ctrl.removeEvent($index, time, $ctrl.data)">X</div>
            </div>
        </div>
    </div>
</section>